@import "../../../styles.scss";

.container {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  & + & {
    margin-top: 16px;
  }

  &__item {
    font-size: 1.2rem;
    color: $white-color;
  }

  &__button {
    padding: 4px 8px;
    border: 2px solid $warn-color;
    border-radius: 10px;
    background-color: $warn-color;
    color: $white-color;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(239, 232, 234, 0.3);
      color: $warn-color;
    }
  }
}

.checked {
  text-decoration: line-through;
  color: rgba($color: $white-color, $alpha: 0.5);
}
