/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

$primary-color: rgb(2, 59, 136);
$white-color: rgb(255, 255, 255);
$warn-color: rgb(236, 133, 133);
